RewriteEngine On

ErrorDocument 404 http://51.161.33.187/sdd/404page.php

RewriteRule ^sdd/jour$ jour.php [L]

RewriteRule ^sdd/mois$ mois.php [L]

RewriteRule ^sdd/annee$ annee.php [L]

RewriteRule ^sdd/annee$ alerte.php [L]

RewriteRule ^sdd/annee$ mobile.php [L]
